{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('build/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		{{ form_start(form) }}
		{{ form_row(form.plainPassword) }}
        {{ form_row(form.Valider,{'attr':{'class':'btn btn-success'}}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
