<div class="row mb-2 justify-content-center">
	<div class="col-3 pl-0">
		<button class="btn btn-primary btn-block" data-target="#modalFormHebdoActivity" data-toggle="modal" type="button">Ajouter une activité</button>
	</div>
	<div class="row col-6 navigation text-right pr-0">
		<form class="col-12" action="{{path('hebdo_activities')}}" method="get">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<i aria-hidden="true" class="fas fa-search text-l text-secondary"></i>
					</div>
				</div>
				<input name="search" aria-label="Recherche" class="form-control" placeholder="Recherche par nom" type="text" value="{{search}}"/>
				<input name="season" type="hidden" value="{{season}}"/>
				<div class="input-group-prepend p-0 m-0">
					<button type="submit" class="btn btn-block p-0 m-0">
						<div class="input-group-text" class="p-0 m-0">
							<i class="fas fa-check text-success text-l m-0 p-0" data-toggle="tooltip" data-placement="left" title="Rechercher"></i>
						</div>
					</button>
					<a href="{{path('hebdo_activities',{'season':season})}}">
						<div class="input-group-text">
							<i class="fas fa-times text-danger text-l" data-toggle="tooltip" data-placement="left" title="Annuler"></i>
						</div>
					</a>
				</div>
			</div>
		</form>
	</div>
	<div class="col-2">
		<select class='form-control' id='choice-season' action='{{path('hebdo_activities',{'page':page,'search':search,'season':'replace-season'})}}'>
			{% for i in 2018..(thisYear+1) %}
				<option value='{{i}}' {{i==season?'selected':''}}>{{i}}
					-
					{{i+1}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-1">
		<a href='{{path('export_activities',{'type':'hebdo','season':season})}}' class="btn p-0 m-0 mx-2">
			<div class="input-group-text" class="p-0 m-0">
				<i class="far fa-file-excel text-success text-l m-0 p-0" data-toggle="tooltip" data-placement="left" title="Exporter la saison"></i>
			</div>
		</a>
	</div>
</div>
<table class="table table-striped table-secondary">
	<thead class="bg-primary text-white ">
		<tr>
			<th scope="col">Nom</th>
			<th scope="col">Période</th>
			<th scope="col">Jour</th>
			<th scope="col">Horaires</th>
			<th scope="col">Participants</th>
			<th scope="col">Intervenants</th>
			<th scope="col">Salle</th>
			<th scope="col">Prix</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for hebdoActivity in hebdoActivities %}
			<tr>
				<th scope="row">{{hebdoActivity.name}}{{hebdoActivity.reiki?' [REIKI]':''}}</th>
				<td>{{hebdoActivity.fromDateTime|date('d/m/Y')}}
					au
					{{hebdoActivity.toDateTime|date('d/m/Y')}}</td>
				<td>{{constant('App\\Service\\Constants\\DayString::DAYSTRING')[hebdoActivity.day]}}</td>
				<td>{{hebdoActivity.fromTime|date('H:i')}}
					à
					{{hebdoActivity.toTime|date('H:i')}}</td>

				<td>
					<a data-target="#modalUsers{{hebdoActivity.id}}" data-toggle="modal" href="#">{{hebdoActivity.users|length}}</a>
					{% include 'modal/activities/users.html.twig' with {'activity': hebdoActivity} %}
					/
					{{hebdoActivity.maxRegistrations}}
				</td>
				<td>
					<a data-target="#modalInterveners{{hebdoActivity.id}}" data-toggle="modal" href="#">{{hebdoActivity.interveners|length}}</a>
					{% include 'modal/activities/interveners.html.twig' with {'activity': hebdoActivity} %}
				</td>
				<td>
					{% if hebdoActivity.location is not null %}
						{{hebdoActivity.location.name}}
					{% endif %}
				</td>
				<td>{{hebdoActivity.price}}€</td>
				<td width=15%>
	
					<a href="{{path('detail_activity',{'id':hebdoActivity.id})}}">
						<i class="fas fa-eye text-primary text-l m-1" data-placement="left" data-toggle="tooltip" title="Détail"></i>
					</a>
					<a data-target="#modalFormHebdoActivity{{hebdoActivity.id}}" data-toggle="modal" href="#">
						<i class="far fa-edit text-primary text-l m-1" data-placement="left" data-toggle="tooltip" title="Modifier"></i>
					</a>
					<a href="{{path('duplicate_hebdo_activity',{'id':hebdoActivity.id,'page':page,'search':search,'season':season})}}" data-toggle="tooltip" data-placement="left" title="Dupliquer">
						<i class="far fa-copy text-primary text-l m-1"></i>
					</a>
					<a href="{{path('delete_hebdo_activity',{'id':hebdoActivity.id,'page':page,'search':search,'season':season})}}" onclick="return confirm('Confirmer la suppression ?');" data-toggle="tooltip" data-placement="left" title="Supprimer">
						<i class="far fa-minus-square text-danger text-l m-1"></i>
					</a>
					<a href="{{path('exporter_hebdo_activity',{'id':hebdoActivity.id})}}">
						<i class="far fa-file-pdf text-primary text-l" data-placement="left" data-toggle="tooltip" onclick= title="Export en PDF"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="row mt-2 justify-content-center">
	<div class="col navigation text-left">
		{{ knp_pagination_render(hebdoActivities) }}</div>
</div>
{% include 'modal/hebdoActivities/add.html.twig' %}
{% for formModifyHebdoActivity in formModifyHebdoActivities %}
	{% include 'modal/hebdoActivities/modify.html.twig' with {'id': formModifyHebdoActivity.vars.value.id} %}
{% endfor %}

<script>
	choiceSeason = document.getElementById('choice-season')
action = choiceSeason.getAttribute('action')
choiceSeason.addEventListener('change', (event) => {
value = choiceSeason.options[choiceSeason.selectedIndex].value;
action = action.replace('replace-season', value)
window.location.href = action;
});
</script>
