{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        Un lien pour réinitialiser votre mot de passe a été envoyé à l'adresse : {{email}}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
